:root {
    --colorone: #004B23;
    --colorTwo: #006400;
    --colorThree: #007200;
    --colorFour:#5F7470 ;
    --colorFive:#889696 ;
    --colorSix: #B8BDB5 ;
    --colorSeven:#D2D4C8 ;
    --colorEight:#E0E2DB;
  }







/* universal styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    

    
}


/* Nav bar */
.flex {
    display: flex;
}
.gap-medium {
    gap: 2rem;
}
.items-center {
    align-items: center;
}
.container {
    max-width: 90%;
}

.p-medium {
    padding: 0.75rem 1rem;
}
.justify--between {
    justify-content: space-between;
}
.mx-auto {
    margin: 0 auto;
}






/* Footer */
.text-center {
    text-align: center;
    background-color: var(--colorone);
    font-size: 15px;
    color: aliceblue;
  }
 
.card{
    
    
    padding-left: 100px;
 padding-bottom: 20px;

 background-color: lightgoldenrodyellow;
    

}
.content{
    background-color:var(--colorFive);
 width: 50%;
    padding: 50px;
    margin-left: 20%;
    font-size: 20px;
}

.parent{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    
    background-color: var(--colorSix);

     
}
.child{
    margin: 10px; 
    background-color: var(--colorFour);
    padding-left: 10px; 
}
.navbar{
    background-color: lightgrey;
    color:white;

}

#comments{
    background-color: lightblue;

    
    text-align: center;
    height: 200px;
}
#comment-area{
    height:100px
}
#search::placeholder{
    color:#7378c5
  }
  #search:focus{
    background-color: #050505;
    outline:none;
  }




#search{
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:var(--colorEight) ;
}

h1{
    font-size: 30px;
    font-style: italic;
}
